target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/allure-results/0cf5dcd7-64c9-40b7-b8e4-5be3111a5c18-result.json
/allure-results/0d8b95f6-a5ff-445c-93e4-e113687d4391-result.json
/allure-results/0e72e3c2-39cb-4eb5-a68b-f65a7f607a5f-result.json
/allure-results/0f7ab79b-760a-48d5-8747-112bfdfe3634-container.json
/allure-results/0f5339fd-f702-4917-a376-21e97b3cedd1-container.json
/allure-results/1be710b0-0473-4a19-aa1d-8ece3838115e-container.json
/allure-results/1ca827cb-715e-4547-822f-2905bed4b13d-result.json
/allure-results/1caf01f0-2fb4-4983-a185-a6d772305205-result.json
/allure-results/1d793f3e-2f4e-4ccf-8e0f-51ae0ec71b61-result.json
/allure-results/1e9ae191-56fc-4126-b2d6-5c72cea1c25a-container.json
/allure-results/2a0cd58b-b60b-4758-af64-bd4bb96576e5-container.json
/allure-results/2a11d723-8a90-405f-bdb0-b6acb3b6170c-container.json
/allure-results/2a919166-df7f-4cf1-b8e1-7c5e6fac27bb-result.json
/allure-results/2ce37b36-4157-4613-9c5f-847866d423aa-container.json
/allure-results/2daf94ea-b316-4810-98e8-9a34d518f86a-container.json
/allure-results/02adac14-3e90-4dd3-8ce4-3bca1c5f5360-result.json
/allure-results/3dcd5690-1821-4bc6-91d2-081c7fdbfbb7-container.json
/allure-results/3f24d538-67b0-4ed5-b6ff-95c5d336e3a3-container.json
/allure-results/3fc9df29-c53c-43a3-90ae-867a1850a95e-result.json
/allure-results/3fedd22a-61db-4913-82ad-b373914fe649-container.json
/allure-results/03d4e491-a010-4a3e-a90a-609dfcaaecf5-result.json
/allure-results/4a705239-6f4b-4c4f-b8c7-d47826486659-result.json
/allure-results/4bfffc52-a5a7-4048-ac67-0a785085c7dd-result.json
/allure-results/4ce9f610-9704-47ea-b3ff-c3dce059675d-container.json
/allure-results/4d97b700-b71a-44e0-8034-e37a5e65de67-container.json
/allure-results/4eabda6d-e84a-41e0-a0cc-a64dd5ec53d2-result.json
/allure-results/4edcd066-4c66-4a5f-a185-13f658a99ac7-result.json
/allure-results/4feacde1-14a6-4abb-b801-f332ea5f8e31-result.json
/allure-results/5a78bb90-2173-4b69-b0ab-83f50708c066-result.json
/allure-results/5a91991f-f5f6-4164-985e-77b40d21c738-container.json
/allure-results/5dcd14be-9947-40f2-854c-cd87711d46b7-result.json
/allure-results/5e7f0476-8046-4ac8-b75f-dd8b0e9f7d87-container.json
/allure-results/5edbc6ff-c3b7-4c45-b29e-16ede27420a8-result.json
/allure-results/5f85bd44-dadb-4849-a6c6-e27887751d9d-container.json
/allure-results/05fce2af-986e-4142-8f27-2afc1fd35882-container.json
/allure-results/6a3a9f87-c597-466d-b75b-33418c888dc1-container.json
/allure-results/6b0914f3-d2ed-4555-9a8b-3525cf5bfafd-container.json
/allure-results/6ca1900e-e083-49d8-9c91-66c899f142f6-result.json
/allure-results/6cd17c6b-192e-44f9-a9b9-857889dcd622-container.json
/allure-results/6db9050c-8874-4ed6-8dc3-833fc146fe8c-container.json
/allure-results/6edee48c-9b50-4e11-8d4e-683731a91ece-result.json
/allure-results/7e975601-e770-4cfa-862b-07487ff7504b-result.json
/allure-results/7f9fd878-3275-47bc-97b0-714dfd42d649-container.json
/allure-results/7fb184da-12d1-4c2a-9bcc-c8ead0409c56-result.json
/allure-results/8af95d6a-1fe3-4040-b40f-e914fdf5f6bf-result.json
/allure-results/8be7e9c1-6024-44ef-8986-71b08e0effbe-result.json
/allure-results/9b759e2c-0e29-4d76-9fbe-88d96611ca1d-result.json
/allure-results/9c4d1dde-3eed-459b-8955-eac24642ec6a-container.json
/allure-results/9c846e02-7735-4ae9-b172-ff9f2287eaff-container.json
/allure-results/9eaed67c-ffb8-4991-9be4-123f65fdb227-container.json
/allure-results/9ec5bf22-f2ad-43a8-b857-3d664a2c5717-container.json
/allure-results/9f219716-0755-478c-8ade-b972bd353830-result.json
/allure-results/9fb6ff21-c585-45f4-9120-2e7f83dfa370-container.json
/allure-results/11afab02-f44a-4291-bceb-512a5acba384-container.json
/allure-results/13d942c0-36c3-4875-9d65-1b4790cd6de3-container.json
/allure-results/18ec388b-6d48-44e5-bdb6-bf4f36bcf78d-container.json
/allure-results/27cca3b1-6e89-4603-8f04-1b043c2d6f2f-container.json
/allure-results/28cb5c32-a37b-48c0-87c1-b45e585d5799-result.json
/allure-results/28f5dc69-7281-495a-b4b2-da26b069e52b-container.json
/allure-results/29db7f31-1392-4c85-8a69-abe08e6acbf0-result.json
/allure-results/30b74ac5-cb89-4761-bafc-412764278d60-container.json
/allure-results/31ad4a12-a0f3-48f2-8739-f6c995378a56-container.json
/allure-results/33fc57fd-2683-45c5-af05-cb2bc75aeaee-container.json
/allure-results/36c6928f-5250-4b8c-86bd-dbe9d865b148-result.json
/allure-results/45b1cd1e-2171-4f75-b417-6314aacc439b-container.json
/allure-results/47f0fa7b-b903-43af-91ea-ee8a7108947d-result.json
/allure-results/49eb3eb9-aba4-499f-b369-8e7e5176e9f6-result.json
/allure-results/0050e5f3-0baa-49eb-8bcb-f6c8cf18eac5-result.json
/allure-results/54d447d9-6d94-4458-9bcf-7c0725120954-container.json
/allure-results/54d68821-a1ff-48fa-b0af-4acb62e1030a-container.json
/allure-results/56dbc684-2f0a-4920-b4f0-6855ba2c0e1b-container.json
/allure-results/70a19ed1-efeb-44e1-8397-fab160314246-result.json
/allure-results/74bf6946-6855-4560-b656-f2d173076ae7-result.json
/allure-results/074b0265-1a77-44de-8ca4-802a2c388543-container.json
/allure-results/91aa8531-a44d-4799-bd42-b170b562ca98-result.json
/allure-results/95ba7566-781b-49c5-81c9-dc69a17839b7-container.json
/allure-results/169b45e6-4544-4508-aa84-31d7b1e8b43e-container.json
/allure-results/171c284f-1711-433b-b6e5-c5c1ae836153-container.json
/allure-results/198c4fe3-34ef-4987-a182-a2fef3099500-result.json
/allure-results/211d51aa-2b4c-4afd-a427-437be496d4fd-container.json
/allure-results/271fbbd3-40c0-4307-b970-2ef6d210fa3c-container.json
/allure-results/295d9829-b724-4f85-bf55-47a6670e0bc5-result.json
/allure-results/629d989f-7f85-4fdb-bd0c-89dfe0d4a22c-result.json
/allure-results/631fd8d3-0692-4a5d-90d7-b93add2f8a03-container.json
/allure-results/633f0074-ea99-4c0d-8bb6-efc4d8947713-container.json
/allure-results/718e8ec1-693e-4c16-8f22-76713a2f8b2b-result.json
/allure-results/719ba32e-37aa-4f1e-993a-2252edc13779-result.json
/allure-results/764c0946-8261-4bb5-914e-76fdbb7ac481-result.json
/allure-results/781b23ab-eca0-4cb4-92f9-edd38bf25f1f-container.json
/allure-results/806b5638-c466-4f59-8736-673eba90f06f-result.json
/allure-results/920fb788-6a88-4b1c-8cdf-c67ddc364046-container.json
/allure-results/932accaf-95dd-439f-a761-84bbd22f7d70-container.json
/allure-results/2763fae2-be8e-49b6-9495-b06bddf71912-result.json
/allure-results/3799cb6e-8b57-41ee-9aec-6036d84a8416-container.json
/allure-results/4310c03c-2483-4c5a-9ca3-2d98a5ea4f20-container.json
/allure-results/4700c4ea-6132-4e2c-a2da-9fbae4657fee-result.json
/allure-results/5153a28b-19e5-4266-a3c4-920bab64f821-container.json
/allure-results/6755bc01-ab25-4726-98f3-e43987e37f48-container.json
/allure-results/7702effd-8029-4490-baeb-990045214c6c-container.json
/allure-results/7948cc2a-d492-4592-8d42-9e6af28ab269-result.json
/allure-results/9012bba5-a3c7-4263-800e-fc74d3116b68-container.json
/allure-results/20986dd6-a72a-4527-b0cc-d9e48fd562b0-result.json
/allure-results/35147e2f-eba0-472d-9f23-d55c06942eb6-container.json
/allure-results/37079d29-1275-4c3f-af6a-98a8bfd39dd3-result.json
/allure-results/54800a6e-62a6-438a-8f5b-fa7b1231501e-result.json
/allure-results/79679c12-08c0-4248-ab9f-0df9c51d583c-result.json
/allure-results/86025bda-77c6-4b4a-be26-2ea673c0805c-container.json
/allure-results/532946ae-3c94-4246-b77c-5cc791a8c29a-container.json
/allure-results/9410869a-731c-43ef-9561-d7898bd57e1f-container.json
/allure-results/21993167-a8db-4f2c-948d-af2d1f4c811b-result.json
/allure-results/44211402-d064-429b-967b-556d15434f3d-container.json
/allure-results/46311581-199a-4bed-9175-38573a2e4971-result.json
/allure-results/78591184-8892-45cb-bdb0-cd5f5c687f22-container.json
/allure-results/88714909-bf34-4079-8595-6cf0b469b979-container.json
/allure-results/99261532-f12c-4baf-a96a-13b409408909-container.json
/allure-results/a0e31d03-d66b-4187-aca8-e8eb7c87528b-result.json
/allure-results/a1b35d75-c96c-4aee-8e10-8d7aa0f2b295-container.json
/allure-results/a2e3b588-bfc7-406d-a233-a09ef594e3e9-container.json
/allure-results/a6a29787-a68c-492c-b177-dfbd29d5d555-result.json
/allure-results/a25b713f-9db2-4951-9e13-7da666aef98f-container.json
/allure-results/a42cdb39-e2df-44c7-8106-5ff32cf09cd3-result.json
/allure-results/a93f997f-a3e4-47b4-bc0f-465dbc10515c-container.json
/allure-results/a4909a6a-1edb-4052-bf5c-2feca7fe48e7-result.json
/allure-results/a72369a6-3d67-4065-aa8c-718f32c15afd-result.json
/allure-results/aa543499-7622-4d90-96fe-60a76266a33b-container.json
/allure-results/aaa46ed5-061e-45f4-abf9-efe284dbc566-result.json
/allure-results/ac9aefae-b429-41ec-85a6-9c26747786d3-container.json
/allure-results/ac1082c5-2331-44fd-be6a-7673e65feb7e-container.json
/allure-results/ac8798fd-33a8-4506-9d9b-0a013c3fb1cb-result.json
/allure-results/ad2417b5-ffd4-4499-a96b-90bf4b8d548e-container.json
/allure-results/ad24103d-787b-40d8-aefc-6e5f10a854da-result.json
/.allure/allure-2.29.0/lib/allure1-model-1.0.jar
/.allure/allure-2.29.0/lib/allure-commandline-2.29.0.jar
/.allure/allure-2.29.0/lib/allure-generator-2.29.0.jar
/.allure/allure-2.29.0/plugins/jira-plugin/lib/allure-jira-commons-2.29.0.jar
/.allure/allure-2.29.0/plugins/xray-plugin/lib/allure-jira-commons-2.29.0.jar
/.allure/allure-2.29.0/lib/allure-model-2.27.0.jar
/.allure/allure-2.29.0/plugins/behaviors-plugin/allure-plugin.yml
/.allure/allure-2.29.0/plugins/custom-logo-plugin/allure-plugin.yml
/.allure/allure-2.29.0/plugins/jira-plugin/allure-plugin.yml
/.allure/allure-2.29.0/plugins/junit-xml-plugin/allure-plugin.yml
/.allure/allure-2.29.0/plugins/packages-plugin/allure-plugin.yml
/.allure/allure-2.29.0/plugins/screen-diff-plugin/allure-plugin.yml
/.allure/allure-2.29.0/plugins/trx-plugin/allure-plugin.yml
/.allure/allure-2.29.0/plugins/xctest-plugin/allure-plugin.yml
/.allure/allure-2.29.0/plugins/xray-plugin/allure-plugin.yml
/.allure/allure-2.29.0/plugins/xunit-xml-plugin/allure-plugin.yml
/.allure/allure-2.29.0/lib/allure-plugin-api-2.29.0.jar
/.allure/allure-2.29.0/plugins/jira-plugin/lib/annotations-13.0.jar
/.allure/allure-2.29.0/plugins/xray-plugin/lib/annotations-13.0.jar
/.allure/allure-2.29.0/lib/annotations-15.0.jar
/allure-results/b44fe491-dcf1-4512-b182-8d86f08d4efe-result.json
/allure-results/b59a0abc-0170-4804-9988-3c2d0e5ff35a-container.json
/allure-results/b179c6a5-bace-401e-a202-18619e2d8073-container.json
/allure-results/b987f029-0282-447d-8459-bc2123da57e5-container.json
/allure-results/b7223391-8bbf-4359-b32d-2f658bdc0ab4-container.json
/allure-results/ba1f1843-93c9-4e6b-9129-7894d46ee536-container.json
/allure-results/bc6549e3-8bb9-4bf3-affd-f1d0a1bbc16f-container.json
/allure-results/be3a20c9-13a5-45c3-a727-76ff0932549c-container.json
/allure-results/be51d3c6-7f3e-40f5-a64d-9682c4854b41-container.json
/.allure/allure-2.29.0/plugins/behaviors-plugin/behaviors-plugin-2.29.0.jar
/.allure/allure-2.29.0/lib/byte-buddy-1.14.9.jar
/.allure/allure-2.29.0/plugins/jira-plugin/lib/byte-buddy-1.14.9.jar
/.allure/allure-2.29.0/plugins/xray-plugin/lib/byte-buddy-1.14.9.jar
/allure-results/c0edbae8-61ef-44a7-98c8-2b928e377bc0-result.json
/allure-results/c3c6c189-ce42-4b97-90e3-6f7f6c9943be-result.json
/allure-results/c8dd2161-7ecf-471e-b9bd-304487afd6c9-result.json
/allure-results/c14f4acd-a460-447e-a5b5-0c56422195a7-container.json
/allure-results/c42f9beb-b479-4a04-a95d-14df6b775e5f-result.json
/allure-results/c60b5f5b-54d7-4e81-a1b4-5cee3dbc3bb3-result.json
/allure-results/c67c638a-0e96-4468-b962-d39ea141de15-container.json
/allure-results/c95e8230-391d-448d-89c0-58bc3c5090c2-result.json
/allure-results/c01887b7-63dc-4a6f-b3da-39bbf618a190-container.json
/allure-results/c5632a9a-0bbb-4f58-8794-c85167b9d343-container.json
/allure-results/ca0734f8-e96a-4722-82b6-34b1bafb1e07-container.json
/allure-results/cc986395-b540-47f3-843e-5598b2772718-container.json
/allure-results/ce93b64e-3cb2-4606-933c-2b2ce0d5b818-container.json
/allure-results/ce900f58-f464-49fa-b137-0ed47b97e4fd-result.json
/allure-results/cec7909f-c86e-4cee-aee4-c74228d6cac5-result.json
/.allure/allure-2.29.0/lib/commons-beanutils-1.9.4.jar
/.allure/allure-2.29.0/lib/commons-codec-1.11.jar
/.allure/allure-2.29.0/lib/commons-collections4-4.4.jar
/.allure/allure-2.29.0/lib/commons-collections-3.2.2.jar
/.allure/allure-2.29.0/lib/commons-io-2.16.1.jar
/.allure/allure-2.29.0/lib/commons-lang3-3.14.0.jar
/.allure/allure-2.29.0/lib/commons-logging-1.2.jar
/.allure/allure-2.29.0/lib/commons-text-1.3.jar
/.allure/allure-2.29.0/plugins/jira-plugin/lib/converter-jackson-2.11.0.jar
/.allure/allure-2.29.0/plugins/xray-plugin/lib/converter-jackson-2.11.0.jar
/.allure/allure-2.29.0/plugins/custom-logo-plugin/static/custom-logo.svg
/.allure/allure-2.29.0/plugins/custom-logo-plugin/custom-logo-plugin-2.29.0.jar
/allure-results/d0caa81e-71bc-49ac-b4b5-8b5ef958afc7-container.json
/allure-results/d0ccd3c0-7800-4eaa-b535-8304c391b7d8-container.json
/allure-results/d9a0f73c-305d-4409-b739-c6ed4227671e-container.json
/allure-results/d24ab78e-b07d-482a-b760-02d1b7caf6d1-container.json
/allure-results/d044de72-cc60-432f-bc38-70df850252f8-result.json
/allure-results/d179d096-8e21-44eb-853b-5f5af71ed8c5-container.json
/allure-results/dae8a6f2-17fd-4541-ba47-b2a5506902a3-result.json
/allure-results/dde96d15-a9c5-4cde-8c37-84e8893ce670-result.json
/allure-results/de340577-8a21-4334-a472-4cc25bd73fa2-container.json
/allure-results/deb80c60-306e-47f8-9d9e-4851989ce2af-container.json
/allure-results/defa358b-24d5-40b0-b955-abfa792bd8d9-result.json
/allure-results/dfee1cb1-b587-42cc-a553-2250eb4087d2-container.json
/allure-results/e2ef35ae-14eb-4b12-a737-51476084017a-container.json
/allure-results/e3d11bd9-b9f8-47c3-8ede-ec5a1f09fe21-result.json
/allure-results/e5af9276-c207-4bbd-850c-a0a8d8fa62b3-container.json
/allure-results/e6ecd554-09ca-48a8-9817-87d71974d5bc-container.json
/allure-results/e7a3356d-ce16-40ef-a6bb-fbc32367853d-result.json
/allure-results/e9b10889-7064-414e-8dfa-35e890defc18-result.json
/allure-results/e47be34a-18d9-40a1-aac3-a1a6f49e5865-container.json
/allure-results/e3978d32-a67a-409c-92ac-a702bc316cbf-container.json
/allure-results/e6145316-9c42-4412-b543-3783cce58538-result.json
/allure-results/ecaf33dc-05e0-4a13-80ba-30b4ee186df8-result.json
/allure-results/ecc14ea6-e3d1-4c9f-9637-2a9f631feade-container.json
/allure-results/edc85a4b-2715-4541-8941-3555fd372660-container.json
/allure-results/ee9d1f6c-4e62-47e6-8141-4a33fe89b99d-result.json
/allure-results/ef2c39d5-52cf-42cc-a903-cdd59d1d17e4-container.json
/allure-results/f0ea0260-6c95-4d56-b74b-d86cf8fbb74a-result.json
/allure-results/f4ee27d9-1787-4f33-8176-1865f5de042e-container.json
/allure-results/f5d3709a-34d1-4886-8176-b7fdb05569ed-container.json
/allure-results/f088ec35-ab90-485f-8854-f729cbe05ef8-container.json
/allure-results/f98c583e-b7da-42de-922b-f4b540a964f3-result.json
/allure-results/f283fa1b-9a05-41fc-b793-3c43b47c3db8-result.json
/allure-results/f562db4c-97bb-4d9e-8650-0c1ad6d33bff-result.json
/allure-results/f764da88-9432-416c-bca0-0a8ea65efd0b-container.json
/allure-results/f1649fdd-9d68-4f33-9007-634286ec32f8-container.json
/allure-results/f2838281-8c18-4eb6-867e-72097e394dbc-container.json
/allure-results/f6975446-513f-4a8e-bfe1-5b8bfb7f1c72-result.json
/allure-results/f7411718-6f8f-413e-a9b4-f4ca20888162-result.json
/allure-results/fa6ff46e-8118-4f96-a810-91ad78812003-container.json
/allure-results/fc45ccd7-1374-46ac-b21f-1cbb15023f43-container.json
/allure-results/fdfb8dc9-cf23-4ee4-ac34-b9c12af72b74-result.json
/allure-results/ff13842b-f524-4fab-be59-5ccd36189d25-container.json
/allure-results/fff1d53a-13e5-4057-8395-b0f30f824807-result.json
/.allure/allure-2.29.0/lib/flexmark-0.62.2.jar
/.allure/allure-2.29.0/lib/flexmark-ext-tables-0.62.2.jar
/.allure/allure-2.29.0/lib/flexmark-util-0.62.2.jar
/.allure/allure-2.29.0/lib/flexmark-util-ast-0.62.2.jar
/.allure/allure-2.29.0/lib/flexmark-util-builder-0.62.2.jar
/.allure/allure-2.29.0/lib/flexmark-util-collection-0.62.2.jar
/.allure/allure-2.29.0/lib/flexmark-util-data-0.62.2.jar
/.allure/allure-2.29.0/lib/flexmark-util-dependency-0.62.2.jar
/.allure/allure-2.29.0/lib/flexmark-util-format-0.62.2.jar
/.allure/allure-2.29.0/lib/flexmark-util-html-0.62.2.jar
/.allure/allure-2.29.0/lib/flexmark-util-misc-0.62.2.jar
/.allure/allure-2.29.0/lib/flexmark-util-options-0.62.2.jar
/.allure/allure-2.29.0/lib/flexmark-util-sequence-0.62.2.jar
/.allure/allure-2.29.0/lib/flexmark-util-visitor-0.62.2.jar
/.allure/allure-2.29.0/lib/freemarker-2.3.32.jar
/.allure/allure-2.29.0/lib/httpclient-4.5.14.jar
/.allure/allure-2.29.0/lib/httpcore-4.4.16.jar
/.allure/allure-2.29.0/plugins/behaviors-plugin/static/index.js
/.allure/allure-2.29.0/plugins/packages-plugin/static/index.js
/.allure/allure-2.29.0/plugins/screen-diff-plugin/static/index.js
/.allure/allure-2.29.0/lib/jackson-annotations-2.17.0.jar
/.allure/allure-2.29.0/plugins/jira-plugin/lib/jackson-annotations-2.17.0.jar
/.allure/allure-2.29.0/plugins/xray-plugin/lib/jackson-annotations-2.17.0.jar
/.allure/allure-2.29.0/lib/jackson-core-2.17.0.jar
/.allure/allure-2.29.0/plugins/jira-plugin/lib/jackson-core-2.17.0.jar
/.allure/allure-2.29.0/plugins/xray-plugin/lib/jackson-core-2.17.0.jar
/.allure/allure-2.29.0/lib/jackson-databind-2.17.0.jar
/.allure/allure-2.29.0/plugins/jira-plugin/lib/jackson-databind-2.17.0.jar
/.allure/allure-2.29.0/plugins/xray-plugin/lib/jackson-databind-2.17.0.jar
/.allure/allure-2.29.0/lib/jackson-dataformat-xml-2.17.0.jar
/.allure/allure-2.29.0/lib/jackson-dataformat-yaml-2.17.0.jar
/.allure/allure-2.29.0/lib/jackson-module-jaxb-annotations-2.17.0.jar
/.allure/allure-2.29.0/lib/jakarta.activation-api-1.2.2.jar
/.allure/allure-2.29.0/lib/jakarta.xml.bind-api-2.3.3.jar
/.allure/allure-2.29.0/lib/javax.activation-api-1.2.0.jar
/.allure/allure-2.29.0/lib/javax.servlet-api-3.1.0.jar
/.allure/allure-2.29.0/lib/jaxb-api-2.3.1.jar
/.allure/allure-2.29.0/lib/jaxb-utils-1.0.jar
/.allure/allure-2.29.0/lib/jcommander-1.82.jar
/.allure/allure-2.29.0/lib/jetty-http-9.4.53.v20231009.jar
/.allure/allure-2.29.0/lib/jetty-io-9.4.53.v20231009.jar
/.allure/allure-2.29.0/lib/config/jetty-logging.properties
/.allure/allure-2.29.0/lib/jetty-server-9.4.53.v20231009.jar
/.allure/allure-2.29.0/lib/jetty-util-9.4.53.v20231009.jar
/.allure/allure-2.29.0/plugins/jira-plugin/jira-plugin-2.29.0.jar
/.allure/allure-2.29.0/plugins/junit-xml-plugin/junit-xml-plugin-2.29.0.jar
/.allure/allure-2.29.0/plugins/jira-plugin/lib/kotlin-stdlib-1.9.10.jar
/.allure/allure-2.29.0/plugins/xray-plugin/lib/kotlin-stdlib-1.9.10.jar
/.allure/allure-2.29.0/plugins/jira-plugin/lib/kotlin-stdlib-common-1.9.10.jar
/.allure/allure-2.29.0/plugins/xray-plugin/lib/kotlin-stdlib-common-1.9.10.jar
/.allure/allure-2.29.0/plugins/jira-plugin/lib/kotlin-stdlib-jdk7-1.9.10.jar
/.allure/allure-2.29.0/plugins/xray-plugin/lib/kotlin-stdlib-jdk7-1.9.10.jar
/.allure/allure-2.29.0/plugins/jira-plugin/lib/kotlin-stdlib-jdk8-1.9.10.jar
/.allure/allure-2.29.0/plugins/xray-plugin/lib/kotlin-stdlib-jdk8-1.9.10.jar
/.allure/allure-2.29.0/lib/config/logback.xml
/.allure/allure-2.29.0/lib/logback-classic-1.3.14.jar
/.allure/allure-2.29.0/lib/logback-core-1.3.14.jar
/.allure/allure-2.29.0/plugins/jira-plugin/lib/okhttp-4.12.0.jar
/.allure/allure-2.29.0/plugins/xray-plugin/lib/okhttp-4.12.0.jar
/.allure/allure-2.29.0/plugins/jira-plugin/lib/okio-jvm-3.6.0.jar
/.allure/allure-2.29.0/plugins/xray-plugin/lib/okio-jvm-3.6.0.jar
/.allure/allure-2.29.0/lib/opencsv-4.6.jar
/.allure/allure-2.29.0/plugins/packages-plugin/packages-plugin-2.29.0.jar
/.allure/allure-2.29.0/lib/properties-2.0.RC5.jar
/qodana.yaml
/.github/workflows/qodana_code_quality.yml
/.allure/allure-2.29.0/plugins/README.txt
/infra/kube/nbank-chart/REPORT.md
/.allure/allure-2.29.0/plugins/jira-plugin/lib/retrofit-2.11.0.jar
/.allure/allure-2.29.0/plugins/xray-plugin/lib/retrofit-2.11.0.jar
/.allure/allure-2.29.0/plugins/screen-diff-plugin/screen-diff-plugin-2.29.0.jar
/.allure/allure-2.29.0/lib/slf4j-api-2.0.13.jar
/.allure/allure-2.29.0/lib/snakeyaml-2.2.jar
/.allure/allure-2.29.0/lib/stax2-api-4.2.2.jar
/.allure/allure-2.29.0/plugins/custom-logo-plugin/static/styles.css
/.allure/allure-2.29.0/plugins/screen-diff-plugin/static/styles.css
/.allure/allure-2.29.0/lib/tika-core-2.9.2.jar
/.allure/allure-2.29.0/plugins/trx-plugin/trx-plugin-2.29.0.jar
/.allure/allure-2.29.0/lib/woodstox-core-6.6.1.jar
/.allure/allure-2.29.0/plugins/xctest-plugin/xctest-plugin-2.29.0.jar
/.allure/allure-2.29.0/plugins/xctest-plugin/lib/xmlwise-1.2.11.jar
/.allure/allure-2.29.0/plugins/xray-plugin/xray-plugin-2.29.0.jar
/.allure/allure-2.29.0/plugins/xunit-xml-plugin/xunit-xml-plugin-2.29.0.jar
